.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 65px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}
svg {
    width: 16px;
    height: 16px;
    vertical-align: sub;
    margin-right: 5px
}
.menu li:hover {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    color: black;
    background-color: #fff;
    transition-duration: .5s;
}
.main {
    padding-top: 65px;
}